<template>
  <div class="menu-address">
    <b-container fluid>
      <b-row>
        <b-col cols="12">
          <hr>
          <br/>
          <p>At Intersection Of</p>
          <!-- <p>Jl. H.R. Rasuna Said & Jl. Casablanca (Kuningan)</p> -->
          <p>Jl. H.R. Rasuna Said (Kuningan)</p>
          <p>CBD Jakarta, Indonesia</p>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
