<template>
  <div class="menu-footer">
    <b-container fluid>
      <b-row>
        <b-col lg="9" md="9" sm="12" xs="12">
          <div class="menu-footer__description">
            <p>
              There's no guarantee to the representation, whether it is directly expressed or implicitly implied, is made to match the exactness or completeness of
            </p>
            <p>
              the information enclosed within, and same is submitted subject to in accuracies, exclusions, change of price, rental or other conditions, withdrawal without prior notice,
            </p>
            <p>
              and to any particular listing circumstances imposed by the property owner(s). As applicable, we make no representation as to the condition of the property (or properties) in question.
            </p>
          </div>
        </b-col>
        <b-col lg="3" md="3" sm="12" xs="12">
          <div class="menu-footer__copyright">
            <p>
              Copyright &copy; 2019 Daswin Office Tower. All Rights Reserved.
            </p>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
