<template>
  <div>
    <div class="daswin-close">
      <span
        data-size="50"
        style="z-index: 999;"
        @click="handleHamburger"
        class="jellybo-MenuIcon004"
      ></span>
    </div>
    <transition name="fade">
      <DaswinMenu v-if="menuFull"/>
    </transition>
  </div>
</template>

<script>
import DaswinMenu from './DaswinMenu'
export default {
  components: {
    DaswinMenu
  },
  data () {
    return {
      menuFull: false,
    }
  },
  methods: {
    handleHamburger () {
      if ($(this).jellyboMenuIcon004().isOpened()) {
        $(this).jellyboMenuIcon004().close();
        this.menuFull = false
      } else {
        $(this).jellyboMenuIcon004().open();
        this.menuFull = true
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
