<template>
  <div
    class="daswin-menu"
    :style="{ backgroundImage: `url(${backgroundUrl})` }"
  >
    <div class="overlay-home"></div>
    <div class="daswin-menu__content">
      <div class="menu-header">
        <b-container fluid>
          <b-row>
            <b-col cols="12">
              <nuxt-link to="/">
                <div class="menu-header__logo">
                  <img src="~/static/images/components/logo-daswin-white.png">
                </div>
              </nuxt-link>
              <div
                @click="closeMenu"
                class="menu-header__icon"
              >
                <img src="~/static/images/components/close-white.png">
              </div>
            </b-col>
          </b-row>
        </b-container>
      </div>
      <DaswinMenuList/>
      <DaswinMenuDevelopment/>
      <DaswinMenuAddress/>
      <DaswinMenuFooter/>
    </div>
  </div>
</template>

<script>
import DaswinMenuList from './DaswinMenuList'
import DaswinMenuDevelopment from './DaswinMenuDevelopment'
import DaswinMenuAddress from './DaswinMenuAddress'
import DaswinMenuFooter from './DaswinMenuFooter'
import BackgroundMenu from '~/static/images/menu/bg-menu-hamburger.jpg'
export default {
  components: {
    DaswinMenuList,
    DaswinMenuDevelopment,
    DaswinMenuAddress,
    DaswinMenuFooter
  },
  data () {
    return {
      backgroundUrl: BackgroundMenu
    }
  },
  methods: {
    closeMenu () {
      this.$emit('close-menu', false)
    }
  },
  destroyed () {
    location.reload()
  }
}
</script>
