<template>
  <div class="menu-list">
    <b-container fluid>
      <b-row>
        <b-col cols="12">
          <div class="menu-list__title">
            Menu
          </div>
          <div class="menu-list__list-link">
            <p>
              <nuxt-link to="/our-building">
                <div class="span underline-left padding-bottom--10">Our Building</div>
              </nuxt-link> /
              <nuxt-link to="/our-location">
                <div class="span underline-left padding-bottom--10">Our Location</div>
              </nuxt-link>
            </p>
            <p>
              <nuxt-link to="/sustainability">
                <div class="span underline-left padding-bottom--10">Sustainability and Awards</div>
              </nuxt-link> /
              <nuxt-link to="/building-specification">
                <div class="span underline-left padding-bottom--10">Building Specification</div>
              </nuxt-link>
            </p>
            <p>
              <nuxt-link to="/project-update">
                <div class="span underline-left padding-bottom--10">Project Updates</div>
              </nuxt-link> /
              <nuxt-link to="/inquiries">
                <div class="span underline-left padding-bottom--10">Inquiries</div>
              </nuxt-link>
            </p>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
