.pull--left {
  float: left!important;
}

.pull--right {
  float: right!important;
}

.padding-bottom--10 {
  padding-bottom: 10px;
}

// LOADER
.loader--page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  outline: 0;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  opacity: 0.8;
}

.loader--page__box {
  max-width: 50%;
}

.loader--page__box .title {
  font-size: 1.5rem;
  color: #fff;
  font-family: 'Segoe UI'!important;
  font-weight: normal;
  font-style: normal;
}

/* LOADER 1 */

.loader--page__box .spinner {
  margin: auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.loader--page__box .spinner > div {
  background-color: #0680ff;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.loader--page__box .spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.loader--page__box .spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.loader--page__box .spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.loader--page__box .spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

#__nuxt {
  height: 100%;
}

#__layout {
  height: 100%;
}

// OVERLAY
.overlay-home {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.35);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overlay-light {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.35);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overlay-very-light {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.88);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mg-bottom--10em {
  display: inline-block;
  width: 100%;
  margin-bottom: 10em;
}

.image-preview-full {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  background: $black;

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    img {
      width: 100%;
      height: auto;
    }
  }

  &__logo {
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: 10;
    cursor: pointer;

    img {
      width: 80px;
    }
  }

  &__close {
    position: absolute;
    top: 36px;
    right: 30px;
    z-index: 10;
    cursor: pointer;

    img {
      width: 40px;
    }
  }

  &__arrow-left {
    position: absolute;
    float: left;
    left: 0;
    top: 50%;
    margin-left: 100px;
    z-index: 10;
    cursor: pointer;
  }

  &__arrow-right {
    position: absolute;
    float: right;
    top: 50%;
    right: 0;
    margin-right: 100px;
    z-index: 10;
    cursor: pointer;
  }
}

// animation slow
// .slow--grow {
//   animation: grow 150000ms ease;
// }

// @keyframes grow {
//   0% {
//     transform: scale(1);
//   }
//   100% {
//     transform: scale(1.5)
//   }
// }

.line-short--yellow {
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: 0;
  width: 5%;
  border-top: 1px solid #ffc107;
  display: inline-block;
}

.daswin-navbar--fixed {
  position:fixed!important;
  top:0;
  left:0;
}

.growing-line {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.growing-line:after {
  position: absolute;
  top: 75%;
  left: 0;
  width: 100%;
  height: .14em;
  background: #636363;
  opacity: .3;
  content: '';
  -webkit-transform: scale(.92);
  -ms-transform: scale(.92) ;
  -o-transform: scale(.92);
  transform: scale(.92);
  transition: all .5s ease-in-out;
}

.growing-line:hover:after {
  opacity: 1;
  -webkit-transition: opacity;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  transition: all .5s ease-in-out;
}

.cursor--touch {
  cursor: pointer;
}

#block {
  background-color: #bca;
  width: 100px;
  border: 1px solid green;
}

#top {
  margin-bottom: 2000px;
}
