@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($horizontal_length, $vertical_length, $blur_radius, $spread_radius, $color) {
  -webkit-box-shadow: $horizontal_length $vertical_length $blur_radius $spread_radius $color;
     -moz-box-shadow: $horizontal_length $vertical_length $blur_radius $spread_radius $color;
          box-shadow: $horizontal_length $vertical_length $blur_radius $spread_radius $color;
}

@mixin animation-spinner--icon($font-size, $color) {
  &:hover {
    i {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

  i {
    font-size: $font-size;
    color: $color;
    -webkit-transition: -webkit-transform .5s ease-in-out;
            transition:         transform .5s ease-in-out;
  }
}

@mixin animation-fade-in($time) {
  -webkit-animation: fadein $time; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein $time; /* Firefox < 16 */
      -ms-animation: fadein $time; /* Internet Explorer */
       -o-animation: fadein $time; /* Opera < 12.1 */
          animation: fadein $time;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}