<template>
  <transition name="fade">
    <div class="projects-update-wrapper">
      <section class="projects-update-wrapper__story">
        <div class="background" :style="{ backgroundImage: `url(${backgroundUrl})` }"></div>
        <DaswinNavbar
          :type-logo="true"
          :type-hamburger="'type-white'"
        />
        <b-container>
          <b-row>
            <b-col cols="12">
              <div class="content">
                <div class="box">
                  <div class="box__title">
                    Project Updates
                  </div>
                  <div class="box__description">
                    <p>Please visit this page for a regular update</p>
                    <p>regarding the development phases</p>
                    <p>of Daswin Office Tower.</p>
                  </div>
                </div>
              </div>
            </b-col>
          </b-row>
        </b-container>
      </section>
      <ListProjects/>
    </div>
  </transition>
</template>

<script>
import DaswinNavbar from '@/components/Header/DaswinNavbar'
import DaswinCopyright from '@/components/Footer/DaswinCopyright'
import ListProjects from '@/components/List/ListProjects'
import BackgroundPath from '~/static/images/projects-update/bg-project-update.jpeg'
export default {
  layout: 'project',
  components: {
    DaswinNavbar,
    DaswinCopyright,
    ListProjects
  },
  data () {
    return {
      backgroundUrl: BackgroundPath
    }
  }
}
</script>

<style lang="scss" scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
