@media screen and (max-width: 1600px){
  .daswin-menu {
    &__content {
      .menu-list {
        margin-top: 5em;
        margin-bottom: 3em;
      }

      .menu-development {
        &__list-logo {
          .image {
            width: 15%;
          }
        }
      }

      .menu-address {
        margin-top: 29px;
      }

      .menu-footer {
        margin-top: 40px;

        &__description {
          p {
            font-size: 12px;
          }
        }

        &__copyright {
          p {
            font-size: 12px;
          }
        }
      }
    }
  }

  .info-tenant-wrapper {
    &__story {
      .content {
        &__box-information {
          .box-body{
            &.detail-building {
              margin-top: 20vh;
            }

            &.detail-building-multifunction {
              margin-top: 20vh;
            }
          }
        }

        &__box-list {
          .box-listing {
            &__list {
              &.is-4 {
                margin-bottom: 20vh;
              }
            }
          }
        }
      }
    }
  }
}
