@media screen and (max-width: 1152px){
  .daswin-menu {
    &__content {
      .menu-list {
        margin-top: 1em;
        margin-bottom: 0em;

        &__list-link {
          p a{
            font-size: 22px;
          }
        }
      }

      .menu-development {
        &__list-logo {
          .image {
            width: 15%;
          }
        }
      }

      .menu-address {
        margin-top: 0px;
      }

      .menu-footer {
        margin-top: 0px;

        &__description {
          p {
            font-size: 10px;
          }
        }

        &__copyright {
          p {
            font-size: 10px;
          }
        }
      }
    }
  }

  .info-tenant-wrapper {
    &__story {
      .content {
        &__box-information {
          .box-body{
            &.detail-building {
              margin-top: 13vh;
            }

            &.detail-building-multifunction {
              margin-top: 13vh;

              img {
                width: 230px;
              }
            }

            &__image {
              img {
                width: 270px;
              }
            }
          }
        }

        &__box-list {
          .box-listing {
            &__list {
              &.is-1 {
                margin-bottom: 4vh;
              }

              &.is-4 {
                margin-bottom: 13vh;
              }
            }
          }
        }
      }
    }
  }
}
