@media screen and (max-width: 570px){
  .daswin-copyright {
    width: 90%;
    text-align: center;
  }

  .daswin-wrapper .home-page__content .box {
    max-width: 80%;
  }

  .daswin-wrapper .home-page__content .box__title {
    font-size: 1.5em;
    line-height: 30px;
  }

  .daswin-wrapper .home-page__content .box__description p {
    font-size: 12px;
  }

  .our-building-wrapper__story .content .box {
    margin-left: 0px;
    margin-top: 56em;
    max-width: 85%;
    padding-right: 0;
  }

  .our-building-wrapper__past-project .box-list-project__list {
    width: 100%;
    height: 300px;
  }

  .our-building-wrapper__past-project .box-list-project__list .box-info__title {
    font-size: 24px;
  }

  .specification-wrapper__title {
    margin-top: 8em;
  }

  .specification-wrapper__box-content .box-content-image {
    float: inherit;
    width: 100%;
  }

  .specification-wrapper__box-content .box-content-description {
    float: inherit;
    width: 100%;
  }

  .projects-update-wrapper__story .content .box {
    max-width: 100%;
    padding-left: 0;
    margin-left: 0;
  }

  .projects-update-wrapper__listing-project .box-list-project__list {
    width: 100%;
  }
}