<template>
  <div class="specification-wrapper">
    <DaswinNavbar
      :type-logo="true"
      :type-hamburger="'type-black'"
    />
    <section class="specification-wrapper__title">
      <div class="title">BUILDING INFORMATION</div>
      <div class="sub-title">Specification</div>
    </section>
    <section class="specification-wrapper__box-content">
      <div class="box-content-image">
        <nuxt-link to="/building-information">
          <div class="box-content-image__list">
            <img src="~/static/images/building-specification/tenant-resources-1.png">
          </div>
        </nuxt-link>
        <div class="box-content-image__list">
          <img src="~/static/images/building-specification/tenant-resources-2.png">
        </div>
        <nuxt-link to="/retail-facilities">
          <div class="box-content-image__list">
            <img src="~/static/images/building-specification/tenant-resources-3.png">
          </div>
        </nuxt-link>
        <div class="box-content-image__footer">
          Copyright &copy; 2019 Daswin Office Tower. All Rights Reserved.
        </div>
      </div>
      <div class="box-content-description">
        <table class="table">
          <tr>
            <td class="w-25">Land Area</td>
            <td>+/- 16.080 sqm</td>
          </tr>
          <br>
          <tr>
            <td class="w-25">Leaseable Area</td>
            <td>+/- 70.000 Sqm Semi Gross (Tenancy Floor)</td>
          </tr>
          <tr>
            <td></td>
            <td>+/- 2.000 Sqm Nett (Retail Area)</td>
          </tr>
        </table>
        <table class="table">
          <tr>
            <td class="w-25">Number of Floors</td>
            <td>50 Levels of Tenancy Office</td>
          </tr>
          <tr>
            <td></td>
            <td>1 Basement Parking</td>
          </tr>
          <tr>
            <td></td>
            <td>3 Level Retail Area Podium</td>
          </tr>
          <tr>
            <td></td>
            <td>13 Level Parking Structures</td>
          </tr>
          <tr>
            <td></td>
            <td>Multi Function Hall at Mezzanine Floor</td>
          </tr>
        </table>
        <br>
        <br>
        <hr>
        <br>
        <br>
        <br>
        <table class="table">
          <tr>
            <td class="w-25">Air Condition (AC)</td>
            <td>Water Cooled Chiler<br>Brand : Daikin</td>
          </tr>
          <br>
          <br>
          <tr>
            <td class="w-25">Ceiling Height</td>
            <td>Main Lobby : +/- 12.5 Meter</td>
          </tr>
          <tr>
            <td></td>
            <td>Typical Floor : +/- 2.9 meter (Clear Height, Raised floor 150 mm)</td>
          </tr>
          <br>
          <tr>
            <td class="w-25">High Speed</td>
            <td>1 Unit - Executive Lift</td>
          </tr>
          <br>
          <tr>
            <td class="w-25">Port System</td>
            <td>3 Units - Parking & Retail Lift</td>
          </tr>
          <br>
          <tr>
            <td class="w-25">Elevators</td>
            <td>1 Unit - Service Lift </td>
          </tr>
          <tr>
            <td></td>
            <td>5 Units - Low Zone, speed 150 mpm</td>
          </tr>
          <tr>
            <td></td>
            <td>5 Units - Mid Zone, speed  420 mpm</td>
          </tr>
          <tr>
            <td></td>
            <td>6 Units - High Zone, speed 420 mpm</td>
          </tr>
          <tr>
            <td></td>
            <td>Brand : Mitsubishi Electric</td>
          </tr>
          <br>
          <tr>
            <td class="w-25">Escalator</td>
            <td>1 Unit - from Ground Floor to Mezzanine</td>
          </tr>
          <tr>
            <td></td>
            <td>Brand : Mitsubishi Electric</td>
          </tr>
        </table>
        <br>
        <hr>
        <br>
        <table class="table">
          <tr>
            <td class="w-25">Curtain Wall</td>
            <td>Low -E Coating, Double Glazing</td>
          </tr>
          <tr>
            <td></td>
            <td>with heat strengthening</td>
          </tr>
          <br>
          <tr>
            <td class="w-25">Fire Safety</td>
            <td>Fire Alarms, Sprinklers, Smoke</td>
          </tr>
          <tr>
            <td></td>
            <td>& Heat Detector, Fire Hydrands,</td>
          </tr>
          <tr>
            <td></td>
            <td>Fire Hoses & Extinguisher,</td>
          </tr>
          <tr>
            <td></td>
            <td>Emergency Stairs</td>
          </tr>
          <br>
          <tr>
            <td class="w-25">IT & Telecomm</td>
            <td>Fiber optic infrastructure for</td>
          </tr>
          <tr>
            <td></td>
            <td>broadband internet</td>
          </tr>
          <tr>
            <td></td>
            <td>IBMS : Intergrated Building Management</td>
          </tr>
          <tr>
            <td></td>
            <td>System to Control and Monitor Building</td>
          </tr>
          <tr>
            <td></td>
            <td>utilities and equipments</td>
          </tr>
          <br>
          <tr>
            <td class="w-25">Parking Space</td>
            <td>1,000 Car Parking lots,</td>
          </tr>
          <tr>
            <td></td>
            <td>608 Motorcycle lots,</td>
          </tr>
          <tr>
            <td></td>
            <td>100 Bicycle lot with Shower Room at</td>
          </tr>
          <tr>
            <td></td>
            <td>Basement 1 Level</td>
          </tr>
          <br>
        </table>
        <hr>
        <br>
        <table class="table">
          <tr>
            <td class="w-25">Power Capacity</td>
            <td>110 VA per sqm</td>
          </tr>
          <br>
          <tr>
            <td class="w-25">Gen-Set</td>
            <td>100% power back up</td>
          </tr>
          <tr>
            <td></td>
            <td>Brand : Mitsubishi Heavy Industries</td>
          </tr>
          <br>
          <tr>
            <td class="w-25">Standard Loading</td>
            <td>250 kg per sqm at Typical Floor</td>
          </tr>
          <br>
          <tr>
            <td class="w-25">Capacity</td>
            <td>500 kg per sqm at Ground Floor</td>
          </tr>
        </table>
        <br>
        <br>
        <br>
        <br>
        <br>
        <hr>
      </div>
    </section>
  </div>
</template>

<script>
import DaswinNavbar from '@/components/Header/DaswinNavbar'
import DaswinCopyright from '@/components/Footer/DaswinCopyright'
export default {
  layout: 'specification',
  components: {
    DaswinNavbar,
    DaswinCopyright
  },
  data () {
    return {}
  }
}
</script>
