<template>
  <transition name="fade">
    <div class="info-tenant-wrapper">
      <section class="info-tenant-wrapper__story">
        <DaswinNavbar
          :type-logo="true"
          :type-hamburger="'type-white'"
        />
        <div
          class="background"
          :style="{ backgroundImage: `url(${backgroundUrl})` }"
        >
          <div class="content">
            <div class="content__box-list">
              <ElevationFloor :numbering="'0'"/>
            </div>
            <div class="content__box-information">
              <div class="box-body">
                <div class="box-body__title-top">
                  BUILDING INFORMATION
                </div>
                <div class="box-body__title">
                  Elevation
                </div>
                <div class="box-body__description">
                  <p>Daswin Office Tower is able of accommodates large <br/>enterprises (up to 50,000 sqm) to small new startup <br/>enterprises. A well-thought building, Daswin Office Tower <br/>exquisitely designed with flexible configuration applicable for <br/>all tenants. </p>
                  <p>To match the requirement regarding the specific need of your <br/>enterprise, please contact us for further information.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </transition>
</template>

<script>
import DaswinNavbar from '@/components/Header/DaswinNavbar'
import DaswinCopyright from '@/components/Footer/DaswinCopyright'
import ListProjects from '@/components/List/ListProjects'
import ElevationFloor from '@/components/ElevationFloor/Index'
import BackgroundPath from '~/static/images/building-specification/background.png'
export default {
  layout: 'project',
  components: {
    DaswinNavbar,
    DaswinCopyright,
    ListProjects,
    ElevationFloor
  },
  data () {
    return {
      backgroundUrl: BackgroundPath
    }
  },
  destroyed () {
    location.reload()
  }
}
</script>

<style lang="scss" scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
