<template>
  <div class="image-preview-full">
    <nuxt-link to="/">
      <div class="image-preview-full__logo">
        <img src="~/static/images/components/logo-daswin-white.png" alt="Hamburger Daswin">
      </div>
    </nuxt-link>
    <nuxt-link to="/project-update">
      <div class="image-preview-full__close">
        <img src="~/static/images/components/close-white.png" alt="Hamburger Daswin">
      </div>
    </nuxt-link>
    <!-- <div @click="handlePrevious" class="image-preview-full__arrow-left">
      <img src="~/static/images/components/arrow-left.png" alt="Hamburger Daswin">
    </div> -->
    <div @click="handleNext" class="image-preview-full__arrow-right">
      <img src="~/static/images/components/arrow-right.png" alt="Hamburger Daswin">
    </div>
    <div class="image-preview-full__image">
      <img src="~/static/images/projects-update/project-update-1-desember-2018.jpg">
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    handleNext () {
      this.$router.push({
        path: '/december-2018/v2'
      })
    }
  }
}
</script>
