<template>
  <div class="box-listing">
    <div
      class="box-listing__list is-1"
      :class="{ 'active': numbering === '1' }"
    >
      <div class="number">1</div>
      <div
        @click="handleUrl('/building-information-typical-high-zone')"
        class="text"
      >
        <div class="text__title">Typical High Zone</div>
        <div class="text__level">level 40 - level 57</div>
      </div>
    </div>
    <div
      class="box-listing__list is-2"
      :class="{ 'active': numbering === '4' }"
    >
      <div class="number">2</div>
      <div
        @click="handleUrl('/building-information-refuge-floor')"
        class="text"
      >
        <div class="text__title">Refuge Floor</div>
        <div class="text__level">level 39</div>
      </div>
    </div>
    <div
      class="box-listing__list is-3"
      :class="{ 'active': numbering === '3' }"
    >
      <div class="number">3</div>
      <div
        @click="handleUrl('/building-information-typical-mid-zone')"
        class="text"
      >
        <div class="text__title">Typical Mid Zone</div>
        <div class="text__level">level 23 - level 38</div>
      </div>
    </div>
    <div
      class="box-listing__list is-4"
      :class="{ 'active': numbering === '4' }"
    >
      <div class="number">4</div>
      <div
        @click="handleUrl('/building-information-refuge-floor')"
        class="text"
      >
        <div class="text__title">Refuge Floor</div>
        <div class="text__level">level 22</div>
      </div>
    </div>
    <div
      class="box-listing__list is-5"
      :class="{ 'active': numbering === '5' }"
    >
      <div class="number">5</div>
      <div
        @click="handleUrl('/building-information-typical-low-zone-single-tenants')"
        class="text"
      >
        <div class="text__title">Typical Low Zone</div>
        <div class="text__level">level 6 - level 21</div>
      </div>
    </div>
    <div
      class="box-listing__list is-6"
      :class="{ 'active': numbering === '6' }"
    >
      <div class="number">6</div>
      <div
        @click="handleUrl('/building-information-multifunction-floor')"
        class="text"
      >
        <div class="text__title">Multifunction Floor</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    numbering: {
      type: String
    }
  },
  methods: {
    handleUrl (params) {
      this.$router.replace({
        path: params
      })
    }
  }
}
</script>
