.daswin-navbar {
  position: fixed;
  display: inline-block;
  width: 100%;
  padding: 15px;
  z-index: 15;

  &__logo {
    float: left;
    cursor: pointer;

    > img {
      width: 80px;
    }
  }

  &__hamburger {
    float: right;
    margin-top: 20px;
    cursor: pointer;

    > img {
      width: 40px;
    }
  }
}
