<template>
  <div class="retail-facilities">
    <DaswinNavbar
      :type-logo="true"
      :type-hamburger="'type-black'"
    />
    <div class="retail-facilities__image-big">
      <div class="image">
        <img src="~/static/images/building-specification/tenant-resources-4.jpeg">
      </div>
    </div>
    <div class="retail-facilities__info-description">
      <div class="title-top">building information</div>
      <div class="title">Retail Facilities</div>
      <div class="description">
        Daswin Office Tower offers 2,000 sqm net area for various entertainment in its retail area. Exquisite retailers are provided to cater to all of our tenant’s needs. Proposed retail area component includes Financial & Banking facilities from banks to ATM centers , variety of Food & Beverages section offering local and international delightful cuisines including dining area and food court that offers numerous different choices, cafes to enjoy coffee breaks, wellness center for a balanced lifestyle, function hall, and many more. 
      </div>
    </div>
    <div class="retail-facilities__image-medium">
      <div class="list-image">
        <img src="~/static/images/building-specification/tenant-resources-5.jpeg">
      </div>
      <div class="list-image">
        <img src="~/static/images/building-specification/tenant-resources-6.jpeg">
      </div>
    </div>
  </div>
</template>

<script>
import DaswinNavbar from '@/components/Header/DaswinNavbar'
import DaswinCopyright from '@/components/Footer/DaswinCopyright'
export default {
  layout: 'specification',
  components: {
    DaswinNavbar,
    DaswinCopyright
  },
  data () {
    return {}
  }
}
</script>
