@font-face {
  font-family: 'Avenir';
  src: url('./fonts/avenir/Avenir-Black.eot');
  src: url('./fonts/avenir/Avenir-Black.eot?#iefix') format('embedded-opentype'),
      url('./fonts/avenir/Avenir-Black.woff2') format('woff2'),
      url('./fonts/avenir/Avenir-Black.woff') format('woff'),
      url('./fonts/avenir/Avenir-Black.ttf') format('truetype'),
      url('./fonts/avenir/Avenir-Black.svg#Avenir-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('./fonts/avenir/Avenir-MediumOblique.eot');
  src: url('./fonts/avenir/Avenir-MediumOblique.eot?#iefix') format('embedded-opentype'),
      url('./fonts/avenir/Avenir-MediumOblique.woff2') format('woff2'),
      url('./fonts/avenir/Avenir-MediumOblique.woff') format('woff'),
      url('./fonts/avenir/Avenir-MediumOblique.ttf') format('truetype'),
      url('./fonts/avenir/Avenir-MediumOblique.svg#Avenir-MediumOblique') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('./fonts/avenir/Avenir-Oblique.eot');
  src: url('./fonts/avenir/Avenir-Oblique.eot?#iefix') format('embedded-opentype'),
      url('./fonts/avenir/Avenir-Oblique.woff2') format('woff2'),
      url('./fonts/avenir/Avenir-Oblique.woff') format('woff'),
      url('./fonts/avenir/Avenir-Oblique.ttf') format('truetype'),
      url('./fonts/avenir/Avenir-Oblique.svg#Avenir-Oblique') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Book';
  src: url('./fonts/avenir/Avenir-BookOblique.eot');
  src: url('./fonts/avenir/Avenir-BookOblique.eot?#iefix') format('embedded-opentype'),
      url('./fonts/avenir/Avenir-BookOblique.woff2') format('woff2'),
      url('./fonts/avenir/Avenir-BookOblique.woff') format('woff'),
      url('./fonts/avenir/Avenir-BookOblique.ttf') format('truetype'),
      url('./fonts/avenir/Avenir-BookOblique.svg#Avenir-BookOblique') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('./fonts/avenir/Avenir-Medium.eot');
  src: url('./fonts/avenir/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
      url('./fonts/avenir/Avenir-Medium.woff2') format('woff2'),
      url('./fonts/avenir/Avenir-Medium.woff') format('woff'),
      url('./fonts/avenir/Avenir-Medium.ttf') format('truetype'),
      url('./fonts/avenir/Avenir-Medium.svg#Avenir-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('./fonts/avenir/Avenir-HeavyOblique.eot');
  src: url('./fonts/avenir/Avenir-HeavyOblique.eot?#iefix') format('embedded-opentype'),
      url('./fonts/avenir/Avenir-HeavyOblique.woff2') format('woff2'),
      url('./fonts/avenir/Avenir-HeavyOblique.woff') format('woff'),
      url('./fonts/avenir/Avenir-HeavyOblique.ttf') format('truetype'),
      url('./fonts/avenir/Avenir-HeavyOblique.svg#Avenir-HeavyOblique') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Book';
  src: url('./fonts/avenir/Avenir-Book.eot');
  src: url('./fonts/avenir/Avenir-Book.eot?#iefix') format('embedded-opentype'),
      url('./fonts/avenir/Avenir-Book.woff2') format('woff2'),
      url('./fonts/avenir/Avenir-Book.woff') format('woff'),
      url('./fonts/avenir/Avenir-Book.ttf') format('truetype'),
      url('./fonts/avenir/Avenir-Book.svg#Avenir-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('./fonts/avenir/Avenir-LightOblique.eot');
  src: url('./fonts/avenir/Avenir-LightOblique.eot?#iefix') format('embedded-opentype'),
      url('./fonts/avenir/Avenir-LightOblique.woff2') format('woff2'),
      url('./fonts/avenir/Avenir-LightOblique.woff') format('woff'),
      url('./fonts/avenir/Avenir-LightOblique.ttf') format('truetype'),
      url('./fonts/avenir/Avenir-LightOblique.svg#Avenir-LightOblique') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('./fonts/avenir/Avenir-Light.eot');
  src: url('./fonts/avenir/Avenir-Light.eot?#iefix') format('embedded-opentype'),
      url('./fonts/avenir/Avenir-Light.woff2') format('woff2'),
      url('./fonts/avenir/Avenir-Light.woff') format('woff'),
      url('./fonts/avenir/Avenir-Light.ttf') format('truetype'),
      url('./fonts/avenir/Avenir-Light.svg#Avenir-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('./fonts/avenir/Avenir-Roman.eot');
  src: url('./fonts/avenir/Avenir-Roman.eot?#iefix') format('embedded-opentype'),
      url('./fonts/avenir/Avenir-Roman.woff2') format('woff2'),
      url('./fonts/avenir/Avenir-Roman.woff') format('woff'),
      url('./fonts/avenir/Avenir-Roman.ttf') format('truetype'),
      url('./fonts/avenir/Avenir-Roman.svg#Avenir-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('./fonts/avenir/Avenir-Heavy.eot');
  src: url('./fonts/avenir/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
      url('./fonts/avenir/Avenir-Heavy.woff2') format('woff2'),
      url('./fonts/avenir/Avenir-Heavy.woff') format('woff'),
      url('./fonts/avenir/Avenir-Heavy.ttf') format('truetype'),
      url('./fonts/avenir/Avenir-Heavy.svg#Avenir-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Black Oblique';
  src: url('./fonts/avenir/Avenir-BlackOblique.eot');
  src: url('./fonts/avenir/Avenir-BlackOblique.eot?#iefix') format('embedded-opentype'),
      url('./fonts/avenir/Avenir-BlackOblique.woff2') format('woff2'),
      url('./fonts/avenir/Avenir-BlackOblique.woff') format('woff'),
      url('./fonts/avenir/Avenir-BlackOblique.ttf') format('truetype'),
      url('./fonts/avenir/Avenir-BlackOblique.svg#Avenir-BlackOblique') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Butler';
  src: url('./fonts/butler/Butler-ExtraBold.eot');
  src: url('./fonts/butler/Butler-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/butler/Butler-ExtraBold.woff2') format('woff2'),
      url('./fonts/butler/Butler-ExtraBold.woff') format('woff'),
      url('./fonts/butler/Butler-ExtraBold.ttf') format('truetype'),
      url('./fonts/butler/Butler-ExtraBold.svg#Butler-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('./fonts/butler/Butler-Bold.eot');
  src: url('./fonts/butler/Butler-Bold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/butler/Butler-Bold.woff2') format('woff2'),
      url('./fonts/butler/Butler-Bold.woff') format('woff'),
      url('./fonts/butler/Butler-Bold.ttf') format('truetype'),
      url('./fonts/butler/Butler-Bold.svg#Butler-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('./fonts/butler/Butler-UltraLight.eot');
  src: url('./fonts/butler/Butler-UltraLight.eot?#iefix') format('embedded-opentype'),
      url('./fonts/butler/Butler-UltraLight.woff2') format('woff2'),
      url('./fonts/butler/Butler-UltraLight.woff') format('woff'),
      url('./fonts/butler/Butler-UltraLight.ttf') format('truetype'),
      url('./fonts/butler/Butler-UltraLight.svg#Butler-UltraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('./fonts/butler/Butler-Light.eot');
  src: url('./fonts/butler/Butler-Light.eot?#iefix') format('embedded-opentype'),
      url('./fonts/butler/Butler-Light.woff2') format('woff2'),
      url('./fonts/butler/Butler-Light.woff') format('woff'),
      url('./fonts/butler/Butler-Light.ttf') format('truetype'),
      url('./fonts/butler/Butler-Light.svg#Butler-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('./fonts/butler/Butler.eot');
  src: url('./fonts/butler/Butler.eot?#iefix') format('embedded-opentype'),
      url('./fonts/butler/Butler.woff2') format('woff2'),
      url('./fonts/butler/Butler.woff') format('woff'),
      url('./fonts/butler/Butler.ttf') format('truetype'),
      url('./fonts/butler/Butler.svg#Butler') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('./fonts/butler/Butler-Medium.eot');
  src: url('./fonts/butler/Butler-Medium.eot?#iefix') format('embedded-opentype'),
      url('./fonts/butler/Butler-Medium.woff2') format('woff2'),
      url('./fonts/butler/Butler-Medium.woff') format('woff'),
      url('./fonts/butler/Butler-Medium.ttf') format('truetype'),
      url('./fonts/butler/Butler-Medium.svg#Butler-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Butler';
  src: url('./fonts/butler/Butler-Black.eot');
  src: url('./fonts/butler/Butler-Black.eot?#iefix') format('embedded-opentype'),
      url('./fonts/butler/Butler-Black.woff2') format('woff2'),
      url('./fonts/butler/Butler-Black.woff') format('woff'),
      url('./fonts/butler/Butler-Black.ttf') format('truetype'),
      url('./fonts/butler/Butler-Black.svg#Butler-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}
