<template>
  <div class="image-preview-full">
    <nuxt-link to="/">
      <div class="image-preview-full__logo">
        <img src="~/static/images/components/logo-daswin-white.png" alt="Hamburger Daswin">
      </div>
    </nuxt-link>
    <nuxt-link to="/inquiries">
      <div class="image-preview-full__close">
        <img src="~/static/images/components/close-white.png" alt="Hamburger Daswin">
      </div>
    </nuxt-link>
    <div @click="handlePrevious" class="image-preview-full__arrow-left">
      <img src="~/static/images/components/arrow-left.png" alt="Hamburger Daswin">
    </div>
    <div class="image-preview-full__image">
      <img src="~/static/images/inquiries/bg-contact-2.jpeg">
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    handlePrevious () {
      this.$router.push({
        path: '/inquiries/visual-2'
      })
    }
  }
}
</script>
