<template>
  <transition name="fade">
    <div class="info-tenant-wrapper">
      <section class="info-tenant-wrapper__story">
        <DaswinNavbar
          :type-logo="true"
          :type-hamburger="'type-white'"
        />
        <div
          class="background"
          :style="{ backgroundImage: `url(${backgroundUrl})` }"
        >
          <div class="content">
            <div class="content__box-list">
              <ElevationFloor :numbering="'5'"/>
            </div>
            <div class="content__box-information">
              <div class="box-body detail-building">
                <div class="box-body__title-top">
                  BUILDING INFORMATION
                </div>
                <div class="box-body__title">
                  Elevation
                </div>
                <div class="box-body__title">
                  Typical Low Zone
                </div>
                <div class="box-body__info-level">
                  Level 6 - Level 21
                </div>
                <div class="box-body__info-type">
                  Single Tenancy
                </div>
                <div class="box-body__info-type underline">
                  <span @click="handleUrl('/building-information-typical-low-zone-6-tenants')">
                    <img src="~/static/images/components/left-arrow.png">
                  </span>
                  Multi Tenancy (12 Tenants)
                </div>
                <div class="box-body__image">
                  <img src="~/static/images/building-specification/denah-typical-low-zone-v5.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </transition>
</template>

<script>
import DaswinNavbar from '@/components/Header/DaswinNavbar'
import DaswinCopyright from '@/components/Footer/DaswinCopyright'
import ListProjects from '@/components/List/ListProjects'
import ElevationFloor from '@/components/ElevationFloor/Index'
import BackgroundPath from '~/static/images/building-specification/background.png'
export default {
  layout: 'project',
  components: {
    DaswinNavbar,
    DaswinCopyright,
    ListProjects,
    ElevationFloor
  },
  data () {
    return {
      backgroundUrl: BackgroundPath
    }
  },
  destroyed () {
    location.reload()
  },
  methods: {
    handleUrl (params) {
      this.$router.replace({
        path: params
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
