@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('AvenirNextCondensed-Italic.eot');
    src: url('AvenirNextCondensed-Italic.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCondensed-Italic.woff2') format('woff2'),
        url('AvenirNextCondensed-Italic.woff') format('woff'),
        url('AvenirNextCondensed-Italic.ttf') format('truetype'),
        url('AvenirNextCondensed-Italic.svg#AvenirNextCondensed-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('AvenirNextCondensed-Regular.eot');
    src: url('AvenirNextCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCondensed-Regular.woff2') format('woff2'),
        url('AvenirNextCondensed-Regular.woff') format('woff'),
        url('AvenirNextCondensed-Regular.ttf') format('truetype'),
        url('AvenirNextCondensed-Regular.svg#AvenirNextCondensed-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('AvenirNextCondensed-HeavyItalic.eot');
    src: url('AvenirNextCondensed-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCondensed-HeavyItalic.woff2') format('woff2'),
        url('AvenirNextCondensed-HeavyItalic.woff') format('woff'),
        url('AvenirNextCondensed-HeavyItalic.ttf') format('truetype'),
        url('AvenirNextCondensed-HeavyItalic.svg#AvenirNextCondensed-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('AvenirNextCondensed-MediumItalic.eot');
    src: url('AvenirNextCondensed-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCondensed-MediumItalic.woff2') format('woff2'),
        url('AvenirNextCondensed-MediumItalic.woff') format('woff'),
        url('AvenirNextCondensed-MediumItalic.ttf') format('truetype'),
        url('AvenirNextCondensed-MediumItalic.svg#AvenirNextCondensed-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('AvenirNextCondensed-Bold.eot');
    src: url('AvenirNextCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCondensed-Bold.woff2') format('woff2'),
        url('AvenirNextCondensed-Bold.woff') format('woff'),
        url('AvenirNextCondensed-Bold.ttf') format('truetype'),
        url('AvenirNextCondensed-Bold.svg#AvenirNextCondensed-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Condensed Ultra';
    src: url('AvenirNextCondensed-UltraLightItalic.eot');
    src: url('AvenirNextCondensed-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCondensed-UltraLightItalic.woff2') format('woff2'),
        url('AvenirNextCondensed-UltraLightItalic.woff') format('woff'),
        url('AvenirNextCondensed-UltraLightItalic.ttf') format('truetype'),
        url('AvenirNextCondensed-UltraLightItalic.svg#AvenirNextCondensed-UltraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('AvenirNextCondensed-Heavy.eot');
    src: url('AvenirNextCondensed-Heavy.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCondensed-Heavy.woff2') format('woff2'),
        url('AvenirNextCondensed-Heavy.woff') format('woff'),
        url('AvenirNextCondensed-Heavy.ttf') format('truetype'),
        url('AvenirNextCondensed-Heavy.svg#AvenirNextCondensed-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Condensed Demi';
    src: url('AvenirNextCondensed-DemiBoldItalic.eot');
    src: url('AvenirNextCondensed-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCondensed-DemiBoldItalic.woff2') format('woff2'),
        url('AvenirNextCondensed-DemiBoldItalic.woff') format('woff'),
        url('AvenirNextCondensed-DemiBoldItalic.ttf') format('truetype'),
        url('AvenirNextCondensed-DemiBoldItalic.svg#AvenirNextCondensed-DemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Condensed Ultra';
    src: url('AvenirNextCondensed-UltraLight.eot');
    src: url('AvenirNextCondensed-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCondensed-UltraLight.woff2') format('woff2'),
        url('AvenirNextCondensed-UltraLight.woff') format('woff'),
        url('AvenirNextCondensed-UltraLight.ttf') format('truetype'),
        url('AvenirNextCondensed-UltraLight.svg#AvenirNextCondensed-UltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('AvenirNextCondensed-BoldItalic.eot');
    src: url('AvenirNextCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCondensed-BoldItalic.woff2') format('woff2'),
        url('AvenirNextCondensed-BoldItalic.woff') format('woff'),
        url('AvenirNextCondensed-BoldItalic.ttf') format('truetype'),
        url('AvenirNextCondensed-BoldItalic.svg#AvenirNextCondensed-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Condensed';
    src: url('AvenirNextCondensed-Medium.eot');
    src: url('AvenirNextCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCondensed-Medium.woff2') format('woff2'),
        url('AvenirNextCondensed-Medium.woff') format('woff'),
        url('AvenirNextCondensed-Medium.ttf') format('truetype'),
        url('AvenirNextCondensed-Medium.svg#AvenirNextCondensed-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Condensed Demi';
    src: url('AvenirNextCondensed-DemiBold.eot');
    src: url('AvenirNextCondensed-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCondensed-DemiBold.woff2') format('woff2'),
        url('AvenirNextCondensed-DemiBold.woff') format('woff'),
        url('AvenirNextCondensed-DemiBold.ttf') format('truetype'),
        url('AvenirNextCondensed-DemiBold.svg#AvenirNextCondensed-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

