<template>
  <div>
    <div class="susta">test</div>
    <section class="sustainability-scroll">test body</section>
  </div>
</template>

<style scoped>
  .susta {
    margin-bottom: 2000px;
  }
</style>
