<template>
  <transition name="fade">
    <div class="our-building-wrapper">
      <section class="our-building-wrapper__story">
        <div class="background" :style="{ backgroundImage: `url(${backgroundUrl})` }"></div>
        <div class="overlay-light"></div>
        <DaswinNavbar
          :type-logo="true"
          :type-hamburger="'type-black'"
        />
        <b-container>
          <b-row>
            <b-col cols="12">
              <div class="content">
                <div class="box">
                  <div class="box__title-top">
                    OUR BUILDING
                  </div>
                  <div class="box__title">
                    The Story
                  </div>
                  <div class="box__description">
                    <p>
                      Daswin Office Tower formed from a significant synergic collaboration between four well-established companies: Mitsubishi Estate Asia, Shimizu Corporation, The Gesit Companies, and Santini Group. Upon completion, it is set to become new landmark for office building in Jakarta that incorporate all the essential aspects from the global business practice for excellent professionals and executives.
                    </p>
                    <p>
                      Strategically located in the intersection of Jl. HR Rasuna Said and Jl. Casablanca, Daswin Office Tower is perfectly accommodated by integrated public transportations including Transjakarta and the expected LRT. A premium office for lease, Daswin Office Tower proudly designed with all-around efficiency and the sophistication of Japanese design essence.
                    </p>
                    <p>
                      Only the best and selected amenities picked to serve Daswin Office Tower: specialty restaurants, cafes, multifunction hall, banking, and other retail facilities, all provided to match the necessity for its discerning tenants.
                    </p>
                    <p>
                      Made with endless dedication, this prestigious 50 stories high building is ready for occupation in early 2021.
                    </p>
                  </div>
                </div>
              </div>
            </b-col>
            <!-- <b-col md="8" offset-md="2">
              <div class="arrow-bottom">
                <img src="~/static/images/components/arrow-bottom.png">
              </div>
            </b-col> -->
          </b-row>
        </b-container>
      </section>
      <section class="our-building-wrapper__shareholders">
        <b-container>
          <b-row>
            <b-col md="8" offset-md="2">
              <div class="box-shareholders">
                <div class="box-shareholders__title">
                  Message from Shareholders
                </div>
                <hr class="box-shareholders__one">
                <div class="box-shareholders__description">
                  <p>As a representative of the shareholders, I aspire to deliver a few words.</p>
                  <p>Daswin Office Tower will be a new iconic office building located in the heart of CBD Jakarta that offers prestige and elegance for rising and established enterprises alike. This new office tower for lease offers a synergetic design that reflects combination of excellent Japanese architecture and the elegance of Indonesian craftsmanship. Combined cultures reflected on its simplicity of design, state of the art technology and complete retail facilities to satisfy the need of the discerning tenants.</p>
                  <p>This project will be the first project that unify four Asia’s renowned corporations: Mitsubishi Estate Asia, Shimizu Corporation, The Gesit Companies and Santini Group. A solid unity that creates diversifying values present Daswin Office Tower to be your new headquarter in a preferred business address in CBD Jakarta: Jl. Rasuna Said, Kuningan.</p>
                  <p>We welcome you to witness and experience a preview of the perfection of Daswin Office Tower by visiting our Marketing Suite located in Daswin Office Tower site.</p>
                  <p>We are excited and proud to welcome you to our building in early 2021!</p>
                  <br>
                  <br>
                  <p><strong>Yutaro Yotsuzuka</strong></p>
                  <p>Managing Director</p>
                  <p>Mitsubishi Estate Asia Pte. Ltd.</p>
                </div>
              </div>
            </b-col>
          </b-row>
          <b-row>
            <b-col md="8" offset-md="2">
              <hr class="box-shareholders__two">
              <div class="box-shareholders mg-top--box">
                <div class="box-shareholders__title">
                  Message from Architect<br/>Mitsubishi Jisho Sekkei Inc.
                </div>
                <hr class="box-shareholders__one">
                <div class="box-shareholders__description">
                  <p>With remarkable economic growth of Indonesia, newly built skyscrapers in central Jakarta are all unique and spectacular. In contrast, architecture design of the DASWIN OFFICE TOWER project focuses on a simple and elegant form of architecture to express a sense of “Tranquility” and become a timeless symbol of the city. The project is located in adjacent to The Westin Jakarta, tallest building in Indonesia, and it consists of office tower, retail and parking tower. The form of the office tower realizes the most elegant proportion, and the appropriate height of the crown makes a harmony with surrounding skyscrapers. </p>
                  <p>The corners of the tower are cut off in order to enhance four main façades of the tower. The façade is designed with the emphasis of verticality to increase the sense of ascension. Horizontal fins are used at corners in contrast to the vertical fins used in the main facades. This combination of fins is derived from the design motives of handcraft products in Indonesia and the traditional Japanese lattice windows. The special lighting illuminates its simple form of architecture and emphasize the crown to become a new attraction of the night scenery of the city.</p>
                  <p>The DASWIN OFFICE TOWER will become a new icon of Jakarta and its simplicity and architectural elegance contributes to "the" synergetic cityscape of Jakarta</p>
                </div>
              </div>
            </b-col>
          </b-row>
        </b-container>
      </section>
      <section class="our-building-wrapper__past-project">
        <b-container>
          <b-row>
            <b-col cols="12">
              <div class="title">Past Projects</div>
            </b-col>
          </b-row>
        </b-container>
        <div class="box-list-project">
          <div class="box-list-project__list">
            <div class="overlay"></div>
            <img src="~/static/images/our-building/past-project-1.jpeg">
            <div class="box-info">
              <div class="box-info__title">Marunouchi Building & Shin-Marunouchi</div>
              <div class="box-info__subtitle">Tokyo, Japan</div>
            </div>
          </div>
          <div class="box-list-project__list">
            <div class="overlay"></div>
            <img src="~/static/images/our-building/past-project-2.jpeg">
            <div class="box-info">
              <div class="box-info__title">The Industry Club of Japan</div>
              <div class="box-info__subtitle">Tokyo, Japan</div>
            </div>
          </div>
          <div class="box-list-project__list">
            <div class="overlay"></div>
            <img src="~/static/images/our-building/past-project-3.jpeg">
            <div class="box-info">
              <div class="box-info__title">Taipei Nanshan Plaza</div>
              <div class="box-info__subtitle">Taipei, Taiwan</div>
            </div>
          </div>
        </div>
      </section>
      <section class="our-building-wrapper__project-team">
        <b-container>
          <b-row>
            <b-col md="8" offset-md="2">
              <div class="title-top">
                OUR BUILDING
              </div>
              <div class="title-second">
                Project Team
              </div>
              <hr class="line-short--yellow">
              <div class="main-contractor">
                <div class="title">Main Contractors</div>
                <img src="~/static/images/our-building/logo-project-team-1.png">
              </div>
              <hr class="line-short--yellow">
              <div class="main-international">
                <div class="title">Internationally Recognized and Leading National Consultants</div>
                <img class="first" src="~/static/images/our-building/logo-project-team-2.png"><br/>
                <img src="~/static/images/our-building/logo-project-team-3.png"><br/>
                <img src="~/static/images/our-building/logo-project-team-4.png">
              </div>
            </b-col>
          </b-row>
          <b-row>
            <b-col md="8" offset-md="2">
              <b-row>
                <b-col lg="6">
                  <div class="main-bottom">
                    <div class="title">Property Management</div>
                    <img class="first" src="~/static/images/our-building/logo-project-team-5.png">
                  </div>
                </b-col>
                <b-col lg="6">
                  <div class="main-bottom">
                    <div class="title">Lead Marketing</div>
                    <img class="second" src="~/static/images/our-building/logo-project-team-6.png">
                  </div>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
        </b-container>
      </section>
    </div>
  </transition>
</template>

<script>
import DaswinNavbar from '@/components/Header/DaswinNavbar'
import DaswinCopyright from '@/components/Footer/DaswinCopyright'
import BackgroundHome from '~/static/images/our-building/bg-our-building.jpg'
export default {
  layout: 'building',
  components: {
    DaswinNavbar,
    DaswinCopyright
  },
  data () {
    return {
      backgroundUrl: BackgroundHome
    }
  }
}
</script>

<style lang="scss" scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
