<template>
  <div class="image-preview-full">
    <nuxt-link to="/">
      <div class="image-preview-full__logo">
        <img src="~/static/images/components/logo-daswin-white.png" alt="Hamburger Daswin">
      </div>
    </nuxt-link>
    <nuxt-link to="/project-update">
      <div class="image-preview-full__close">
        <img src="~/static/images/components/close-white.png" alt="Hamburger Daswin">
      </div>
    </nuxt-link>
    <div @click="handlePrevious" class="image-preview-full__arrow-left">
      <img src="~/static/images/components/arrow-left.png" alt="Hamburger Daswin">
    </div>
    <div class="image-preview-full__image">
      <video controls autoplay loop>
        <source src="~/static/images/projects-update/project-update-february-2019-video.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    handlePrevious () {
      this.$router.push({
        path: '/february-2019/v5'
      })
    }
  }
}
</script>
