@mixin nth-ani-delay($delay_items: 7, $delay_time: 0.2s){
  @for $i from 1 through $delay_items {
    &:nth-child(#{$i}) {   
      animation-delay: $delay_time * $i; 
    }
  }
}

.home-page {
  width: 100%;
  height: 100%;

  &__background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    // animation: grow 150000ms ease;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 10;

    .box {
      max-width: 50%;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: center;

      &__title {
        display: block;
        font-size: 3em;
        color: $white;
        margin-bottom: 20px;
        font-family: 'Butler';
        font-weight: 300;
        font-style: normal;
        line-height: 50px;
        letter-spacing: 1.5px;
        // animation: letter-glow 0.7s 0s ease both;
        // @include nth-ani-delay(25, 0.05s);
      }

      &__description {
        display: block;
        
        p {
          font-size: 1em;
          color: $white;
          margin-bottom: 0px;
          font-family: 'Avenir';
          font-weight: 300;
          font-style: normal;
          letter-spacing: 1px;
          // animation: letter-glow 0.15s 0s ease both;
          // @include nth-ani-delay(180, 0.05s);

          &.bottom {
            margin-top: 20px;
          }
        }
      }
    }
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5)
  }
}

@keyframes letter-glow {
  0%   { opacity: 0; text-shadow: 0px 0px 1px rgba(255,255,255,0.1)}
  66%  { opacity: 1; text-shadow: 0px 0px 20px rgba(255,255,255,0.9) }
  77%   { opacity: 1;  }
  100% { opacity:0.7; text-shadow: 0px 0px 20px rgba(255,255,255,0.0)}
}