.inquiries-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  overflow-y: auto;

  &__contact {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 10;

    .box {
      // max-width: 50%;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-top: 15em;
      margin-bottom: 50px;

      &__title {
        text-align: left;
        font-family: 'Butler';
        font-weight: bold;
        font-size: 35px;
        margin-bottom: 20px;
      }

      &__form {
        .contact-form {
          .form-field {
            position: relative;
            margin: 32px 0;
          }

          .input-text {
            display: block;
            width: 100%;
            height: 36px;
            border-width: 0 0 2px 0;
            border-color: rgb(248, 203, 2);
            font-family: Lusitana, serif;
            font-size: 18px;
            line-height: 26px;
            font-weight: 400;

            &:focus {
              outline: none;
            }

            &:focus,
            &.not-empty {
              + .label {
                transform: translateY(-24px);
              }
            }
          }

          .label {
            position: absolute;
            left: 0px;
            bottom: 0px;
            font-family: 'Avenir';
            font-weight: normal;
            font-size: 18px;
            line-height: 26px;
            font-weight: 400;
            color: #888;
            cursor: text;
            transition: transform .2s ease-in-out;
          }
        }

        .form-control {
          border: 0;
          border-radius: 0;
          margin-bottom: 10px;

          &:focus {
            box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
          }
        }

        button {
          margin-top: 20px;
          text-align: left;
          border-radius: 50px;
          padding: 10px 30px;
          background: #20336d;
          border: 1px solid #20336d;
        }
      }
    }

    .box-address {
      p {
        font-family: 'Avenir';
        font-weight: normal;
        font-size: 12px;
        color: $black;
        margin: 0;
      }

      a {
        display: inline-block;
        float: left;
        margin-top: 10px;
        color: $black;
        // border-bottom: 1px solid #ffc107;
        text-transform: uppercase;
        font-family: 'Avenir';
        font-weight: normal;
      }
    }

    .box-visual {
      p{
        color: $black;
        font-family: 'Avenir';
        font-weight: 300;
        margin: 0;

        &.span {
          margin-bottom: 5px;
          display: inline-block;

          &:hover {
            color: #ffc107;
          }
        }

        &.yellow {
          color: #ffc107;
        }
      }
    }

    .box-contact {
      width: 100%;
      display: inline-block;
      margin-bottom: 10em;

      .title {
        font-family: 'Avenir';
        font-weight: normal;
        font-size: 16px;
        margin-bottom: 10px;
      }

      img {
        width: 100px;
        margin-bottom: 10px;
      }

      .phone {
        font-family: 'Avenir';
        font-weight: normal;
        font-size: 16px;
      }
    }
  }
}
