.projects-update-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;

  &__story {
    position: relative;
    background-attachment: fixed;
    background-position: bottom!important;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100%;
    overflow: hidden;

    .background {
      position: absolute;
      background-attachment: fixed;
      background-position: top!important;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      // animation: grow 150000ms ease;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .content {
      position: absolute;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      z-index: 10;

      .box {
        max-width: 65%;
        padding-left: 32%;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        text-align: left;
        margin-top: 45em;
        text-align: center;

        &__title {
          font-family: 'Butler';
          font-weight: 300;
          letter-spacing: 2px;
          font-size: 35px;
          color: $white;
          margin-bottom: 30px;
        }

        &__description {

          p {
            font-family: 'Avenir';
            font-weight: 300;
            font-size: 16px;
            letter-spacing: 1px;
            color: $white;
            margin: 0;
          }
        }
      }
    }
  }

  &__listing-project {
    width: 100%;
    display: block;

    .title {
      text-align: center;
      font-family: 'Butler';
      font-weight: 400;
      font-size: 20px;
      margin-bottom: 20px;
    }

    .box-list-project {
      display: block;
      width: 100%;

      &__list {
        float: left;
        width: 25%;
        height: 210px;
        overflow: hidden;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-color: $black;

        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.29);
          z-index: 9;
        }

        &:hover {
          img {
            transform: scale(1.2);
            -webkit-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
          }
        }

        .box-info {
          max-width: 75%;
          -webkit-box-flex: 1;
          -webkit-flex: 1;
          -ms-flex: 1;
          flex: 1;
          text-align: center;
          z-index: 9;
          color: #FFF;
          bottom: 45px;
          position: absolute;

          &__title {
            font-family: 'Avenir';
            font-weight: 300;
            font-size: 11px;
            margin-bottom: 5px;
            letter-spacing: 2px;
          }

          &__subtitle {
            font-size: 18px;
            font-family: 'Butler';
            font-weight: 500;
            margin-bottom: 10px;
          }

          a {
            padding: 4px 10px;
            border-radius: 50px;
            color: $black;
            overflow: hidden;
            font-size: 12px;
            font-family: 'Avenir';
            font-weight: 300;
            letter-spacing: 2px;

            &:hover {
              color: #FFF;
            }
          }
        }

        img {
          top: -9999px;
          right: -9999px;
          left: -9999px;
          bottom: -9999px;
          margin: auto;
          position: absolute;
          width: 100%;
          height: auto;
          z-index: 1;
          transition: all 0.25s linear;
        }
      }
    }
  }
}

.info-detail-wrapper {
  width: 100%;
  display: inline-block;
  padding: 50px 0;
  padding-bottom: 0;

  &__time-title {
    width: 100%;
    display: inline-block;

    .time {
      font-family: 'Avenir';
      font-weight: normal;
      font-size: 16px;
    }

    .title {
      font-family: 'Butler';
      font-weight: bold;
      font-size: 3em;
      margin-bottom: 20px;
    }

    .source {
      font-family: 'Avenir';
      font-weight: normal;
      font-size: 16px;
    }
  }

  &__description {
    width: 100%;
    display: inline-block;

    p {
      font-family: 'Avenir';
      font-weight: normal;
      font-size: 16px;
      line-height: 25px;
    }

    img {
      width: 100%;
    }

    .box-news-link {
      width: 100%;
      display: inline-block;
      margin-bottom: 30px;

      &__title {
        font-family: 'Butler';
        font-size: 16px;
      }

      &__desc {
        width: 100%;
        display: inline-block;

        a {
          font-family: 'Avenir';
          font-weight: normal;
          font-size: 16px;
          color: #bdbdbd;
          text-decoration: underline;
        }
      }
    }
  }
}

.hvr-shutter-in-horizontal:before {
  border-radius: 50px;
  background: #FFF;
  color: $white;
  border: 1px solid #FFF;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5)
  }
}
