.our-sustainability-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  // overflow: hidden;
  // overflow-y: auto;

  &__description {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;

    .background {
      position: absolute;
      background-attachment: fixed;
      background-position: bottom!important;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      // animation: grow 150000ms ease;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .content {
      position: absolute;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      z-index: 10;

      .box {
        max-width: 50%;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        text-align: center;
        margin-top: 50em;

        &__title {
          display: block;
          font-size: 2em;
          color: $black;
          margin-bottom: 20px;
          font-family: 'Butler';
          font-weight: bold;
        }

        &__description {
          display: block;
          
          p {
            font-size: 16px;
            color: $black;
            margin-bottom: 10px;
            font-family: 'Avenir';
            font-weight: 300;
          }
        }

        &__icon-bottom {
          display: block;
          margin-top: 10em;
          cursor: pointer;
          -webkit-animation: bounce 2s infinite 2s;
          animation: bounce 2s infinite 2s;
        }
      }
    }
  }

  &__introduction {
    position: relative;
    width: 100%;
    display: inline-block;

    .background {
      position: absolute;
      background-attachment: fixed;
      background-position: bottom!important;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      // animation: grow 150000ms ease;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .box-introduction {
      width: 100%;
      display: inline-block;
      border-top: 1px solid #ffc107;
      border-bottom: 1px solid #ffc107;
      padding: 30px 0;
      margin-top: 100px;
      margin-bottom: 100px;

      &__logo {
        width: 100%;
        display: inline-block;
        margin-bottom: 20px;
  
        img {
          width: 200px;
          height: auto;
          display: block;
          margin: auto;
        }
      }
  
      &__description {
        width: 100%;
        display: inline-block;
        text-align: center;
  
        p {
          font-size: 14px;
          font-family: 'Avenir';
          font-weight: 300;
        }
      }
    }
  }

  &__award {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;

    .background {
      position: absolute;
      background-attachment: fixed;
      background-position: bottom!important;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      // animation: grow 150000ms ease;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .title-top {
      font-family: 'Butler';
      font-weight: bold;
      font-size: 28px;
      color: $black;
      margin-top: 30px;
      margin-bottom: 10px;
      text-align: center;
    }

    .year {
      font-family: 'Butler';
      font-weight: normal;
      font-size: 24px;
      color: $black;
      margin-bottom: 20px;
      text-align: center;
    }

    .box-award {
      width: 100%;
      display: inline-block;

      &__image {
        text-align: center;
        margin-bottom: 20px;

        img {
          width: auto;
          height: 100%;
        }
      }

      &__title {
        font-size: 10px;
        color: $black;
        margin-bottom: 10px;
        font-family: 'Avenir';
        font-weight: 300;
        text-align: center;
      }
    }

    .description {
      width: 100%;
      display: inline-block;
      margin-top: 20px;

      p {
        text-align: center;
        font-size: 14px;
        font-family: 'Avenir';
        font-weight: 300;
        color: $black;
        margin-bottom: 15px;
      }
    }
  }
}

.bold {
  font-family: 'Avenir';
  font-weight: 600;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5)
  }
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}